@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --clr-primary-200: #EEE2DC;
  --clr-primary-400: #AC3B61;
  
  --clr-neutral-100: #fff;
  --clr-neutral-900: #123C69;

  --clr-theme-1: #a6e2eb;

  
  --ff-primary: "Lato", sans-serif;
  --ff-accent: "Montserrat", serif;
}
  
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-200);
  font-family: var(--ff-primary);
  font-size: 1.3125rem;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
  overflow: hidden;
}

a { text-decoration: none; }
 
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.header h1,
.header h2,
.header h3 { color: var(--clr-primary-200); }

.header h1 {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 700;
  border-bottom: none;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  line-height: 1;
  font-weight: 400;
  font-style: italic;
  border-bottom: 1px solid #BAB5B2;
}

h2,
h3,
p, 
ul {
  margin-bottom: 1rem;
}

p { color: #123C69; }

img {
  display: block;
  max-width: 100%;
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.header {
  display: flex;
  background-color: var(--clr-neutral-900);
  vertical-align: middle;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
}

.title {
  display: inline-flex;
  margin-right: 1rem;
  font-family: var(--ff-primary) !important;
  align-self: center;
}

.hud {
  display: inline-flex;
  align-items: center;
}
.hud a { color: var(--clr-primary-200); }

h1 {
  font-size: 2rem;
  line-height: normal;
}

.button {
  display: block;
  position: relative;
}

.text {
  z-index: 10;
  position: relative;
  transition: color 0.15s;
  color: var(--clr-primary-200);
}

.fill {
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  transition: height 0.15s;
  display: block;
  position: absolute;
  background-color: var(--clr-theme-1);
}

@media (min-width: 40em) {
  .container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .header {
    flex-direction: column;
    position: static;
    align-items: center;
  }

  .content {
    position: relative;
    overflow-y: auto;
  }
  .title {
    margin: 0;
    font-size: 3rem;
  }

  .header h1 {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  .button { padding: 0 1rem; }
  .button:hover .fill { height: 100% }
  .button:hover .text { color: var(--clr-neutral-900); }
  .text {
    font-size: 2rem;
    font-weight: 700;
  }
}